{% extends '@GDSSPhases/phases_view/Negociation_ThinkLet/Pin-the-Tail-on-the-Donkey/pin-the-tail-categorizer.html.twig' %}

{% block subtitle %}
    <h1 style="text-decoration-style: double; margin-left: -15%"><a href="{{ path('FastFocus', {'id' : backid}) }}"><i class="fas fa-arrow-left"></i></a> FastFocus - Categorizer ({{ categorie.name }})</h1>
{% endblock %}