{% extends '@GDSSPlatform/layoutGDSS.html.twig' %}
{% block title %}Inbox{% endblock %}
{% block curentInbox %}active{% endblock %}
{% block body %}
    <div class="container">{% block fos_message_content %}{% endblock %}</div>
{% endblock %}

